
<%- include("partials/header") %>

<h1>Compose</h1>

<h2>Title</h2>
 <form action="/compose" method="post">
    <label for="">Title</label>
    <input type="text" name="composeTitle">
    <label for="">Post</label>
     <textarea name="composePost" id="" cols="30" rows="5"></textarea>
    <button type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") %>
