
<%- include("partials/header")%>


<h1>Home</h1>

<p>
    <%= homeStartingContent %>
</p>

<p>
    <%= console.log(posts) %>
    <% for(let i = 0; i < posts.length; i++){ %>
       <p><% console.log(posts[i].title)%></p>
       <% } %>
</p>



<%-include("partials/footer")%>


